<ul class="menu-root">
  <% ['api', 'style-guide'].indexOf(type) === -1 && site.pages.find({type: type}).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <% if (type === 'guide') { %>
      <% if (fileName === 'index') { %>
        <li><h3>起步基础</h3></li>
      <% } %>
      <% if (fileName === 'color') { %>
        <li><h3>视觉系统</h3></li>
      <% } %>
      <% if (fileName === 'button') { %>
        <li><h3>输入表单</h3></li>
      <% } %>
      <% if (fileName === 'card') { %>
        <li><h3>容器布局</h3></li>
      <% } %>
      <% if (fileName === 'tab') { %>
        <li><h3>导航</h3></li>
      <% } %>
      <% if (fileName === 'alert') { %>
        <li><h3>信息反馈</h3></li>
      <% } %>
      <% if (fileName === 'table') { %>
        <li><h3>数据展现</h3></li>
      <% } %>
      <% if (fileName === 'comparison') { %>
        <li><h3>更多</h3></li>
      <% } %>
    <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
